{% extends "base.html" %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
<div class="dashboard-grid">
  <div>
    {% for a in apps %}
    <table class="panel">
      <caption>{{ a.name }}</caption>
      <thead class="sr"><tr><th scope="col">Model</th><th scope="col">Add</th><th scope="col">Change</th></tr></thead>
      <tbody>
      {% for m in a.models %}
      <tr>
        <th scope="row"><a href="/admin/{{ m.table }}/">{{ m.plural }}</a></th>
        <td class="shrink"><a href="/admin/{{ m.table }}/add" class="addlink">Add</a></td>
        <td class="shrink"><a href="/admin/{{ m.table }}/" class="changelink">Change</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
  <section class="panel recent" aria-labelledby="recent-title">
    <h2 id="recent-title">Recent actions</h2>
    {% if recent %}
    <ul class="actionlist">
      {% for r in recent %}
      <li class="{{ r.class }}">{% if r.url %}<a href="{{ r.url }}">{{ r.repr }}</a>{% else %}{{ r.repr }}{% endif %}<span class="meta">{{ r.model }}</span></li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="empty">Nothing yet. Changes you make in the admin appear here.</p>
    {% endif %}
  </section>
</div>
{% endblock %}
