{% extends "base.html" %}
{% block bodyclass %}login{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block shifted %}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
{% if error %}<p class="errornote">{{ error }}</p>{% endif %}
<div id="content-main">
  <form method="post" action="/admin/login" id="login-form" hx-boost="false">
    <div class="form-row"><label class="required" for="id_username">Username:</label> <input type="text" name="username" id="id_username" value="{{ username or "" }}" autocomplete="username" maxlength="150" required autofocus></div>
    <div class="form-row"><label class="required" for="id_password">Password:</label> <input type="password" name="password" id="id_password" autocomplete="current-password" required></div>
    <input type="hidden" name="next" value="{{ next }}">
    <div class="submit-row"><input type="submit" value="Log in"></div>
  </form>
</div>
{% endblock %}
